*{
    margin: 0;
    padding:0;
}

.logo {
    width: 200px;
    cursor: pointer; 
}
   
header {
background-color: beige ;
display: flex;
justify-content: space-around;
align-items: center;
}

li {
    display: inline-block;
    font: size 1.5 rem;
    text-transform: uppercase;
    list-style: none; 
    }
    

h1 {
color: gray;
font-size: 50px;
text-align: center;
}

a{
    text-decoration: none;
    color:grey;
    font-family: sans-serif;

}
.navPcipal {
    padding: 10px;
   text-align: center;
 font-family: sans-serif;
}

.mainImg{
    
width: 100%; 
  height: 100%; 
  object-fit: cover;
    
}
body {
    background-color:gainsboro; 

}


h2 {
    text-align: center;
    color:#f2f2f2;
}

h3 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center;
    color: black
   
}   

  
  img {
    max-width: 500px;
    height: auto;
    margin-right: 20px;
  }


  .container1 {
    display: flex;
    align-items: center;
    padding: 20px;
  }


  /*  CAROUSEL*/

  .slide {
    margin-top: 10px;
  }

.slide img {
   max-width: 100%;
   height: 80vh;
}


footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
}


.redes-sociales a {
    margin-right: 20px; 
    color:azure; 
    text-decoration: none; 
}

/* GRID Y FLEX */

.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
gap: 60px;
margin: 3rem 0;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pieza {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;

}
   
.tituloPieza {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    

}

.precioPieza {
    font-size: 26px;
    font-weight: bold;
    color: grey;
    text-align: center;
    
}

.boton {

display: inline-block;
padding: 10px 20px;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
cursor:pointer;
border-radius: 5px;
background-color: burlywood;
color: maroon;
margin-top: 15px;
border: none;
}

.boton:hover {
    transform: rotate(-45deg);
transition: all .5s;
transform-origin: left;
}

/* contacto */


form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px ;
    text-align:center;
    margin: auto;
    width: 250px;
   background: url(../img/fondoform.jpg);
   margin-top: 20px;
   margin-bottom: 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
text-align: left;
}


label{
    font-family: sans-serif;
    color:gray;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    background-color: antiquewhite;
    border: 2px solid rosybrown;
    color:grey ;
    outline:none ;  
    margin-bottom: 20px;
}

.btn {
    font-size: 20px;
    color:grey;
    border: 0;
    background-color:beige;
    cursor: pointer;
} 

.btn:hover {
opacity: 0.7;
}
   
/* HOME */

.seccion {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px;
    background-color: whitesmoke; 
  }
  
  .imagen {

    padding: 10px;
    max-width: 100%;
  }


  .textoDescriptivo {
    flex: 1; 
    color: gray;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin-right: 30px;
 margin-left: 30px;
}

.home{
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
   
    margin-top: 30px;
    margin-bottom: 30px;
    color: brown;
font-size: 40px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mapa {
    width: 100%;
  height: 200px; 
  margin-top: 20px;
  margin-bottom: 20px;

}


/* RESPONSIVE */
@media (max-width: 600px) {
   
    .logo {
        display: none;
    }

    .imagenFlor {
        display: none;
    }
}

@media (max-width: 580px) {
    h1 {
        display: none;
    }

    .imagen {
        display: none;
    }
}

@media (max-width: 768px) {
    .producto {
        flex: 0 1 calc(50% - 20px);
    }
}