*{
    margin: 0;
    padding:0;
}

.logo {
    width: 200px;
    cursor: pointer;
    
}
   
header {
background-color: beige ;
display: flex;
justify-content: space-between;
align-items: center;
}

li {
    display: inline-block;
    font: size 1.5em; ;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none; 
    }
    

h1 {
color: maroon;
font-size: 50px;
text-align: center;
}

p {
color:black;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color:maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.navPcipal {
    padding: 10px;
   text-align: center;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainImg{
    
width: 100%; 
  height: 100%; 
  object-fit: cover;
    
}
body {
    background-color:gainsboro; 

}


h2 {
    text-align: center;
    color:#f2f2f2;
}

h3 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center;
    color: black
   
}   

  
  img {
    max-width: 500px;
    height: auto;
    margin-right: 20px;
  }

  .tituloPcipal {
    margin: 0;
   align-content: center;
    font-size:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
color: maroon;
  }

  .container1 {
    display: flex;
    align-items: center;
    padding: 20px;
  }



footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}


.redes-sociales a {
    margin-right: 10px; /* Espacio entre los íconos de redes sociales */
    color: maroon; /* Color del texto */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

/* GRID Y FLEX */

.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
gap: 60px;
margin: 3rem 0;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pieza {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;

}
   
.tituloPieza {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.precioPieza {
    font-size: 26px;
    font-weight: bold;
    color: maroon;
    text-align: center;
    
}

.boton {

display: inline-block;
padding: 10px 20px;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
cursor:pointer;
border-radius: 5px;
background-color: burlywood;
color: maroon;
margin-top: 15px;
border: none;
}

.boton:hover {
    transform: rotate(-45deg);
transition: all .5s;
transform-origin: left;
}









/* RESPONSIVE */
@media (max-width: 500px) {
    .parrafo1 {
        color: cadetblue;
    }

    .parrafo {
        color: blueviolet;
    }

    .logo {
        display: none;
    }

    nav {
        display: none;
    }

    .imagenFlor {
        display: none;
    }
}

@media (max-width: 580px) {
    h1 {
        display: none;
    }
}